<form action="/products" method="post">
  <label for="code">codígo:</label>
  <input type="text" name="code" id="code" />
  <br />
  <label for="title">título:</label>
  <input type="text" id="title" name="title" />
  <br />
  <label for="description"> Descrição</label>
  <input type="text" id="description" name="description" />
  <br />
  <label for="price">Preço:</label>
  <input type="text" id="price" name="price" />
  <br />
  <label for="stock"> Estoque:</label>
  <input type="text" id="stock" name="stock" />
  <br />
  <label for="thumb">Thumbmail</label>
  <input type="text" id="thumb" name="thumb" />
  <br />
  <br />
  <button type="submit">Enviar</button>

</form>

<div id="prodsList"  class="card-products">
  <label for="search">Teste limit:</label>
  <input type="text" name="search" id="search-product" />
  {{#if prods.length}}
  {{#each prods}}
          <div class="card-body">
        <img src="" class="" alt="imagem product">
        <h5 class="card-title">{{title}}</h5>
        <p class="card-text">{{description}}</p>
         <p class="card-text"> R$:{{price}}</p>
         <p class="card-text"> code: {{code}}</p>
         <a href="#" class="btn btn-secondary">Adicionar ao Carrinho</a>
      </div>
      
  {{/each}}
  {{else}}
  <div>
 <div class="card-body">
        <img src="" class="" alt="imagem product">
        <h5 class="card-title">{{productFound.protitle}}</h5>
        <p class="card-text">{{productFound.description}}</p>
         <p class="card-text"> R$:{{productFound.price}}</p>
         <p class="card-text"> code: {{productFound.code}}</p>
         <a href="#" class="btn btn-secondary">Adicionar ao Carrinho</a>
      </div>

</div>
  {{/if}}

</div>


<script src="/js/index.js"></script>